---
import TailwindCSS from "../stackIcons/TailwindCSS.astro";
import GitHub from "../icons/GitHub.astro";
import LinkButton from "../components/LinkButton.astro";
import Link from "../icons/Link.astro";


const TAGS = {
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-white text-[#73bcf6]",
        icon: TailwindCSS,
    }
}

const PROJECTS = [
  {
    title: '404 - Project not found :(',
    description: "I'm currently working on this section. Please check back later.",
    link: 'a',
    github: 'a',
    image: '../projects/404s2.webp',
    tags: [TAGS.TAILWIND],
  },

];
---

<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img class="object-cover object-top w-full transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold mb-4 text-white">
        {title}
      </h3>
      <div class="project flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
                
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>


<style>
    @media screen and (max-width: 775px){
      .project {
        display: block;
      }
    }
</style>